* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: url('header-background.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 60px 0;
    text-align: center;
}

header h1 {
    font-size: 3rem;
}

header p {
    font-size: 1.5rem;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    background: linear-gradient(135deg, #74ebd5 0%, #9face6 100%);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


section {
    padding: 40px 0;
}

#about {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-pic {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.profile-pic img {
    width: 150px; /* Adjust the size as needed */
    height: 150px;
    border-radius: 50%;
    object-fit: cover; /* Ensures the image is cropped correctly within the circle */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds a subtle shadow */
}


.about-text {
    flex: 1;
    margin-left: 20px;
}

#skills {
    background-color: #3498db;
    color: #fff;
    margin: 20px 0;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.skill-card {
    background-color: #2980b9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.skill-card:hover {
    transform: translateY(-10px);
}

.skill-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.skill-card p {
    font-size: 1.1rem;
}

.project {
    margin-bottom: 20px;
}

.project h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project p {
    font-size: 1.1rem;
}

#contact p, footer p {
    text-align: left;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
